---
import { getEntry } from "astro:content";
const contacts = await getEntry("sections", "contacts");

import SectionTitle from "./SectionTitle.astro";
import Dino3 from "./Dino3.astro";
import Feedback from "./Feedback.astro";
---

<section x-ref="contacts" class="_section">
  <div class="_container">
    <div class="flex flex-col gap-10">
      <SectionTitle title={contacts.data.title} />

      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        <div>
          <div class="flex flex-wrap justify-center items-start gap-8">
            <a
              href={`mailto:${contacts.data.email}`}
              target="_blank"
              class="flex flex-col items-center gap-1">
              <box-icon
                type="solid"
                name="envelope"
                class="w-14 h-14 fill-accent"></box-icon>
              <div class="text-lg">{contacts.data.email}</div>
            </a>

            <a
              href={contacts.data.telegram}
              target="_blank"
              class="flex flex-col items-center gap-1">
              <box-icon
                type="logo"
                name="telegram"
                class="w-14 h-14 fill-sky-500 opacity-65"></box-icon>
              <div class="text-lg">{contacts.data.telegram}</div>
            </a>
          </div>

          <div class="w-44 mx-auto my-10 fill-base-300">
            <Dino3 />
          </div>
        </div>

        <div class="md:col-span-2">
          <Feedback />
        </div>
      </div>
    </div>
  </div>
</section>
