---
import Icon from "./Icon.astro";

const { item, index } = Astro.props;
const { Content } = await item.render();
---

<li>
  {index > 0 && <hr />}

  <div class="timeline-middle w-10 h-10">
    <Icon name="check-circle-solid" styles="w-10 h-10 fill-accent" />
  </div>

  <div
    class={`${
      index % 2 === 0 ? "timeline-start md:text-end" : "timeline-end"
    } !mb-10`}>
    <div class="font-mono">
      {item.data.from === item.data.to && <>{item.data.from}</>}
      {
        item.data.from !== item.data.to && (
          <>
            {item.data.to === 0
              ? `${item.data.from}–настоящее время`
              : `${item.data.from}–${item.data.to}`}
          </>
        )
      }
    </div>

    <div class="text-lg sm:text-xl font-bold mb-2">{item.data.title}</div>

    <div class="_prose">
      <Content />
    </div>
  </div>

  <hr />
</li>
