---
const { item, index } = Astro.props;
const { Content } = await item.render();
---

<li>
  {index > 0 && <hr />}

  <div class="timeline-middle w-10 h-10">
    <svg
      class="w-10 h-10 fill-accent"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24">
      <path
        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"
      ></path>
    </svg>
  </div>

  <div
    class={`${
      index % 2 === 0 ? "timeline-start md:text-end" : "timeline-end"
    } !mb-10`}>
    <div class="font-mono">
      {item.data.from === item.data.to && <>{item.data.from}</>}
      {
        item.data.from !== item.data.to && (
          <>
            {item.data.to === 0
              ? `${item.data.from}–настоящее время`
              : `${item.data.from}–${item.data.to}`}
          </>
        )
      }
    </div>

    <div class="text-lg sm:text-xl font-bold mb-2">{item.data.title}</div>

    <div class="_prose">
      <Content />
    </div>
  </div>

  <hr />
</li>
