---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import Opengraph from "../components/Opengraph.astro";
import Background from "../components/Background.astro";

import { getEntry } from "astro:content";
const site = await getEntry("common", "site");

const { title, description } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <title>{site.data.name} – {title}</title>

    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <Opengraph title={title} description={description} />
  </head>

  <body x-data="common" x-ref="body">
    <Background />

    <slot />

    <script>
      import "boxicons";
    </script>

    <script src="../assets/js/metrika"></script>
  </body>
</html>
