---
import "@fontsource-variable/inter";
import "../assets/css/global.css";

import Background from "../components/Background.astro";
import Navbar from "../components/Navbar.astro";

import { getEntry } from "astro:content";
const site = await getEntry("common", "site");

const { title, description } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <title>{site.data.name} – {title}</title>

    <link rel="canonical" href={Astro.url.href} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body x-ref="body" x-data="common">
    <Background />
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  import "boxicons";
</script>

<script src="../assets/js/metrika"></script>
